/* --Importing fonts-- */
@font-face { font-family: plain-light; src: url(./media/fonts/plain-light-webfont.woff); }
@font-face { font-family: inherit-f; src: url(./media/fonts/inherit-webfont.woff); }
@font-face { font-family: silkserif-lightitalic; src: url(./media/fonts/silkserif-lightitalic-webfont.woff); }
@font-face { font-family: silkserif-regularitalic; src: url(./media/fonts/silkserif-regularitalic-webfont.woff); }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "plain-light";
    color: white;
    cursor: none;
}

html,
body {
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar { display: none; }

main {
    position: relative;
    background-color: #151515;
}

/* Universal Css */

.magnet {
    position: relative;
    display: inline-flex;
    transition: box-shadow ease-in-out .2s;
    padding: 5px 20px;
  }






/* Cursor css */
.cursor {
    pointer-events: none;
  
    .big-circle, 
    .small-circle {
      position: fixed;
      z-index: 998;
      border-radius: 100%;
      top: calc(var(--circle-size) / 2 * -1);
      left: calc(var(--circle-size) / 2 * -1);
    }
  
    .big-circle {
      --circle-size: 2rem;
      width: var(--circle-size);
      height: var(--circle-size);
      border: 1px solid white;
    }
  
    .small-circle {
      --circle-size: 0.3rem;
      width: var(--circle-size);
      height: var(--circle-size);
      background-color: white;
    }
}




/* Loader css */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
    padding-left: 5vw;
    padding-top: 9vw;

    .loader-container {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0, -50%);
        
        >p {
            margin-left: 15vw;
            margin: 3.5vw 20vw;
            font-size: 15px;
        }
    }

    h1 {
        position: relative;
        display: flex;
        align-items: center;
        height: 7.4vw;
        overflow: hidden;

        >span {
            position: absolute;
            font-size: 7vw;
            line-height: 7.4vw;
            text-transform: uppercase;
            font-weight: 900;
            display: flex;
            align-items: center;
            gap: 2vw;
            height: 100%;
        }

        &:first-child>span {

            span {
                transform: translate3d(13vw, 0, 0);

                &:last-child {
                    background-color: #0B0B0B;
                }
            }

            pre {
                font-family: silkserif-lightitalic;
                font-weight: 100;
                font-size: 3vw;
                line-height: 1;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;

                p {
                    font-family: inherit;
                    display: flex;
                    justify-content: end;
                    width: 5vw;
                }
            }
        }
    }
}





/* Header css */
header {
    padding: 50px 0;

    nav {
        display: flex;
        justify-content: space-between;
        padding: 0 65px;
        font-weight: 300;
        text-transform: capitalize;
        --font-size: 15.2851px;
        --letter-spacing: -.2px;

        .nav-right {
            width: 75%;
            display: flex;
            justify-content: space-between;
            
            p {
                line-height: 1;
                font-size: var(--font-size);
                letter-spacing: var(--letter-spacing);
            }

            ul {
                list-style-type: none;
                display: flex;
                gap: 40px;

                a {
                    font-size: var(--font-size);
                    letter-spacing: var(--letter-spacing);
                    text-decoration: none;
                }
            }
        }
    }
}







/* page1 css */
#page1 {
    height: 100vh;
    width: 100%;
}











/* -----Animations----- */
@-webkit-keyframes now-anime {
    0% {
        font-family: inherit;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }

    49% {
        font-family: inherit;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }

    50% {
        font-family: silkserif-regularitalic;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
    
    100% {
        font-family: silkserif-regularitalic;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
        font-weight: 100;
    }
}

@keyframes now-anime {
    0% {
        font-family: inherit;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }

    49% {
        font-family: inherit;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }
    
    50% {
        font-family: silkserif-regularitalic;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }

    100% {
        font-family: silkserif-regularitalic;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
        font-weight: 100;
    }
}












/* -----Responsiveness----- */
@media (max-width: 767px) {
    #loader {

        .loader-container {
            top: 45%;
    
            >p {
                margin-left: 0vw;
            }
        }
    }
}